<% if params[:top_40] || !params[:top_40] && !params[:keyword_search] %>
  <h1>Top Movies</h1>
<% else %>
  <h1>Search Results</h1>
<% end %>

<% @movies1.each do |movie| %>
  <div class='movie'>
    <%= link_to "#{movie[:title]}", movie_show_path(movie[:title]), class: 'title' %><br>
    <span>Vote average:</span>
    <span class='vote_avg'><%= movie[:vote_average] %></span><br><br>
  </div>
<% end %>

<% unless @movies2.nil?  %>
  <% @movies2.each do |movie| %>
    <div class='movie'>
      <%= link_to "#{movie[:title]}", movie_show_path(movie[:title]), class: 'title' %><br>
      <span>Vote average:</span>
      <span class='vote_avg'><%= movie[:vote_average] %></span><br><br>
    </div>
  <% end %>
<% end %>