<% if params[:top_40] || !params[:top_40] && !params[:keyword_search] && !params[:trending] %>
  <h1>Top Movies</h1>
<% elsif params[:trending] %>
  <h1>Trending Movies</h1>
<% else %>
  <h1>Search Results</h1>
<% end %>

<%= render 'movie_search' %>

<% if @movies.nil? %>
  <h3>No movies matched your search.</h3>
<% else %>
  <section class='movie-results'>
    <%= render partial: 'movie_list' %>
  </section>
<% end %>
