<% if params[:top_40] || !params[:top_40] && !params[:keyword_search] %>
  <h1>Top Movies</h1>
<% else %>
  <h1>Search Results</h1>
<% end %>

<% @movies1.each do |movie| %>
  <%= movie[:title] %><br>
  <span>Vote average:</span>
  <%= movie[:vote_average] %><br>
<% end %>

<% unless @movies2.nil?  %>
  <% @movies2.each do |movie| %>
    <%= movie[:title] %><br>
    <span>Vote average:</span>
    <%= movie[:vote_average] %><br>
  <% end %>
<% end %>