<% if params[:top_40] || !params[:top_40] && !params[:keyword_search] %>
  <h1>Top Movies</h1>
<% else %>
  <h1>Search Results</h1>
<% end %>

<%= render 'movie_search' %>

<section class='movie-results'>
  <%= render partial: 'movie_list' %>
</section>
