---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/524/reviews?api_key=MOVIES_SECRET_KEY&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 96b45fb9e728eaf575012155f6092aaa
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-10-11 23:51:33 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":524,"page":1,"results":[{"author":"Kris_12","content":"Sharon
        Stone and Robert De Niro were amazing! Robert De Niro is my favorite actor!
        How he was talking about <a href=\"http://www.arrabitah.org/\">pokerstar bonus
        code</a> and smile at that moment! He was perfect. Now, it is one of my favorite
        movies. You have to see it!\r\nYou will not regret it. I promise","id":"5c51b825c3a368756484b8b4","url":"https://www.themoviedb.org/review/5c51b825c3a368756484b8b4"}],"total_pages":1,"total_results":1}'
  recorded_at: Wed, 14 Oct 2020 21:20:33 GMT
recorded_with: VCR 6.0.0
