---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/751702?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4c95e196a26f8bbdc9e59fa82b6cd5af
      X-Memc-Age:
      - '7129'
      X-Memc-Expires:
      - '14471'
      Etag:
      - W/"17f7129a6d7caea02760566cba74c09f"
      Last-Modified:
      - Fri, 09 Oct 2020 23:43:52 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":"https://alchemywerks.com/product/alien-contact-the-pascagoula-ufo-encounter/","id":751702,"imdb_id":"tt11672244","original_language":"en","original_title":"Alien
        Contact: The Pascagoula UFO Encounter","overview":"A retrospective on the
        events in this small town","popularity":0.0,"poster_path":null,"production_companies":[],"production_countries":[],"release_date":"2020-03-17","revenue":0,"runtime":75,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Alien
        Contact: The Pascagoula UFO Encounter","video":false,"vote_average":10.0,"vote_count":1}'
  recorded_at: Fri, 09 Oct 2020 23:43:52 GMT
recorded_with: VCR 6.0.0
