---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/751702?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4c95e196a26f8bbdc9e59fa82b6cd5af
      X-Memc-Age:
      - '7129'
      X-Memc-Expires:
      - '14471'
      Etag:
      - W/"17f7129a6d7caea02760566cba74c09f"
      Last-Modified:
      - Fri, 09 Oct 2020 23:43:52 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":"https://alchemywerks.com/product/alien-contact-the-pascagoula-ufo-encounter/","id":751702,"imdb_id":"tt11672244","original_language":"en","original_title":"Alien
        Contact: The Pascagoula UFO Encounter","overview":"A retrospective on the
        events in this small town","popularity":0.0,"poster_path":null,"production_companies":[],"production_countries":[],"release_date":"2020-03-17","revenue":0,"runtime":75,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Alien
        Contact: The Pascagoula UFO Encounter","video":false,"vote_average":10.0,"vote_count":1}'
  recorded_at: Sat, 10 Oct 2020 05:40:14 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/751702/credits?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c8fb99fc81149a6613ed221f9a8ea274
      X-Memc-Age:
      - '2827'
      X-Memc-Expires:
      - '18773'
      Etag:
      - W/"db8b5c14fd190d1e439d5baae00d30ea"
      Last-Modified:
      - Sat, 10 Oct 2020 04:52:31 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":751702,"cast":[{"cast_id":2,"character":"Himself","credit_id":"5f80da3b17505100389322df","gender":0,"id":2025483,"name":"Calvin
        Parker, Jr.","order":1,"profile_path":null},{"cast_id":5,"character":"Himself
        (Narrator)","credit_id":"5f80df01021cee003747fc6c","gender":0,"id":1764330,"name":"J.
        Michael Long","order":2,"profile_path":null}],"crew":[{"credit_id":"5f80dd87175051003791933b","department":"Production","gender":0,"id":1039129,"job":"Executive
        Producer","name":"Warren Croyle","profile_path":null},{"credit_id":"5f80d9f01750510036943910","department":"Directing","gender":0,"id":1764330,"job":"Director","name":"J.
        Michael Long","profile_path":null},{"credit_id":"5f80de9102842000360afcf3","department":"Production","gender":0,"id":1764330,"job":"Producer","name":"J.
        Michael Long","profile_path":null}]}'
  recorded_at: Sat, 10 Oct 2020 05:40:14 GMT
recorded_with: VCR 6.0.0
