---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/724089?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
<<<<<<< HEAD
      - Tue, 13 Oct 2020 16:09:59 GMT
=======
      - Tue, 13 Oct 2020 22:42:56 GMT
>>>>>>> f10ebaa5d9b8c48fdf4db138190df9326b6fbfb4
      Server:
      - openresty
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Methods:
      - GET, HEAD, POST, PUT, DELETE, OPTIONS
      Access-Control-Expose-Headers:
      - ETag, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After,
        Content-Length, Content-Range
      Cache-Control:
      - public, max-age=21600
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8064efce63b52d0889d69a823f040eb4
      X-Memc-Age:
<<<<<<< HEAD
      - '6577'
      X-Memc-Expires:
      - '15023'
      Etag:
      - W/"6f11a2ba8ed4d5873d7f0199124eb4cb"
      Last-Modified:
      - Tue, 13 Oct 2020 16:09:59 GMT
=======
      - '305'
      X-Memc-Expires:
      - '21295'
      Etag:
      - W/"f73f4f2b7371251f2a4c7a666d2d79c5"
      Last-Modified:
      - Tue, 13 Oct 2020 22:42:56 GMT
>>>>>>> f10ebaa5d9b8c48fdf4db138190df9326b6fbfb4
      Vary:
      - Accept-Encoding
      X-Cache:
      - Hit from cloudfront
      Via:
<<<<<<< HEAD
      - 1.1 28d79637e27f11e3ab19a9515e273a5b.cloudfront.net (CloudFront)
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
      - EMZPbkAl6NrrNitzrloTrU7pH40U4NqMq8D3jHU8RvHO45nsRSoYFQ==
=======
      - 1.1 e7ff4a714a3b1f464db9c76ee954a565.cloudfront.net (CloudFront)
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
      - PeATiy2lnsYpF5LQ2Ak9VzVxQgKhPTatsQOwrlm5RqzRnwrNHanu4g==
      Age:
      - '17291'
>>>>>>> f10ebaa5d9b8c48fdf4db138190df9326b6fbfb4
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg","belongs_to_collection":{"id":729322,"name":"Gabriel''s
        Inferno Collection","poster_path":null,"backdrop_path":null},"budget":0,"genres":[{"id":10749,"name":"Romance"}],"homepage":"https://watch.passionflix.com/watch/f299fa17-5a2b-4fee-b53a-a4651747431b","id":724089,"imdb_id":"tt11641654","original_language":"en","original_title":"Gabriel''s
        Inferno Part II","overview":"Professor Gabriel Emerson finally learns the
        truth about Julia Mitchell''s identity, but his realization comes a moment
        too late. Julia is done waiting for the well-respected Dante specialist to
        remember her and wants nothing more to do with him. Can Gabriel win back her
        heart before she finds love in another''s arms?","popularity":13.855,"poster_path":"/pci1ArYW7oJ2eyTo2NMYEKHHiCP.jpg","production_companies":[{"id":92153,"logo_path":"/psjvYkjjgAPtS8utnFYDM8t8yi7.png","name":"PassionFlix","origin_country":"US"}],"production_countries":[],"release_date":"2020-07-31","revenue":0,"runtime":105,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Gabriel''s
<<<<<<< HEAD
        Inferno Part II","video":false,"vote_average":8.9,"vote_count":882}'
  recorded_at: Tue, 13 Oct 2020 16:09:59 GMT
=======
        Inferno Part II","video":false,"vote_average":8.9,"vote_count":883}'
  recorded_at: Wed, 14 Oct 2020 03:31:07 GMT
>>>>>>> f10ebaa5d9b8c48fdf4db138190df9326b6fbfb4
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/724089/credits?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ce0a2a50ec2f08730264b4164ae0dc5d
      X-Memc-Age:
      - '7973'
      X-Memc-Expires:
      - '13627'
<<<<<<< HEAD
=======
      Last-Modified:
      - Tue, 13 Oct 2020 16:09:59 GMT
      Date:
      - Tue, 13 Oct 2020 22:42:56 GMT
      Cache-Control:
      - public, max-age=21600
>>>>>>> f10ebaa5d9b8c48fdf4db138190df9326b6fbfb4
      Etag:
      - W/"7dc5114a3d99860abe3acdfee47b2d56"
      Last-Modified:
      - Tue, 13 Oct 2020 16:09:59 GMT
      Vary:
      - Accept-Encoding
      X-Cache:
<<<<<<< HEAD
      - Miss from cloudfront
      Via:
      - 1.1 48a6ccbb0ddb052ab512a3422295bd39.cloudfront.net (CloudFront)
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
      - 2eiLC-pbsiNpClQs0VUOQl9zJ6rc5a7hEzCwxDi9JI7jx_2pWKScMg==
=======
      - Hit from cloudfront
      Via:
      - 1.1 28d79637e27f11e3ab19a9515e273a5b.cloudfront.net (CloudFront)
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
      - xoCw1P25JLryeoODnw_24tBEGeac0I6aLtCUXacfUMmhfCpbVSRn9g==
      Age:
      - '17291'
>>>>>>> f10ebaa5d9b8c48fdf4db138190df9326b6fbfb4
    body:
      encoding: ASCII-8BIT
      string: '{"id":724089,"cast":[{"cast_id":1,"character":"Julia Mitchell","credit_id":"5f25dbe72d8ef30035d4c8d8","gender":1,"id":1312450,"name":"Melanie
        Zanetti","order":1,"profile_path":"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg"},{"cast_id":2,"character":"Gabriel
        Emerson","credit_id":"5f25dbff0231f200381c6aca","gender":2,"id":544002,"name":"Giulio
        Berruti","order":2,"profile_path":"/ktPKniWGVkm6eBG7a2R7WGd96kZ.jpg"},{"cast_id":3,"character":"Paul
        Norris","credit_id":"5f25dec27d41aa0035679e49","gender":0,"id":2345991,"name":"James
        Andrew Fraser","order":3,"profile_path":null},{"cast_id":4,"character":"Christa
        Peterson","credit_id":"5f25dedf8d1b8e0[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/724089/reviews?api_key=MOVIES_SECRET_KEY&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
<<<<<<< HEAD
      - Tue, 13 Oct 2020 16:10:00 GMT
=======
      - Tue, 13 Oct 2020 22:42:57 GMT
>>>>>>> f10ebaa5d9b8c48fdf4db138190df9326b6fbfb4
      Server:
      - openresty
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Methods:
      - GET, HEAD, POST, PUT, DELETE, OPTIONS
      Access-Control-Expose-Headers:
      - ETag, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After,
        Content-Length, Content-Range
      Cache-Control:
      - public, max-age=21600
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - bf1cc79b7d1dffdf642f30174a05dbbd
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-09-25 04:10:03 +0000'
      X-Cache:
      - Hit from cloudfront
      Via:
<<<<<<< HEAD
      - 1.1 6cab218159221ab723900fb6fe65d73f.cloudfront.net (CloudFront)
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
      - rtIHBDG2d5KmoYvQEXwvRXdM2h4DnRN0W7iYx1rd64q36RI81fZAHA==
    body:
      encoding: UTF-8
      string: '{"id":724089,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Tue, 13 Oct 2020 16:10:00 GMT
=======
      - 1.1 824a5d9ed02451bcb68b15ae5991dce0.cloudfront.net (CloudFront)
      X-Amz-Cf-Pop:
      - DEN50-C2
      X-Amz-Cf-Id:
      - mIS6LtzSX8gzBBBTiug6kXySKRY4k0JlFA92QMIp7067DH11-sX9sw==
      Age:
      - '17290'
    body:
      encoding: UTF-8
      string: '{"id":724089,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 14 Oct 2020 03:31:07 GMT
>>>>>>> f10ebaa5d9b8c48fdf4db138190df9326b6fbfb4
recorded_with: VCR 6.0.0
