---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/751920?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 848ed6c59b78c9736e76e87a84126ff2
      X-Memc-Age:
      - '12322'
      X-Memc-Expires:
      - '9278'
      Etag:
      - W/"3c44d924a2e5585ecd7ec736eaf0e519"
      Last-Modified:
      - Sat, 10 Oct 2020 17:47:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":99,"name":"Documentary"}],"homepage":"","id":751920,"imdb_id":"tt0289404","original_language":"en","original_title":"Against
        Pornography: The Feminism of Andrea Dworkin","overview":"Radical feminist
        Andrea Dworkin''s expose on the pornography industry.","popularity":0.0,"poster_path":null,"production_companies":[{"id":137997,"logo_path":null,"name":"BBC","origin_country":""},{"id":22495,"logo_path":null,"name":"Amaya
        Distribution","origin_country":""},{"id":948,"logo_path":null,"name":"SBS","origin_country":""},{"id":141636,"logo_path":null,"name":"films
        media group","origin_country":""}],"production_countries":[{"iso_3166_1":"AU","name":"Australia"},{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1991-10-25","revenue":0,"runtime":52,"spoken_languages":[],"status":"Released","tagline":"Radical
        feminist Andrea Dworkin''s expose on the pornography industry.","title":"Against
        Pornography: The Feminism of Andrea Dworkin","video":true,"vote_average":10.0,"vote_count":1}'
  recorded_at: Sat, 10 Oct 2020 17:50:57 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/751920/credits?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 27b65556ecb4224568ff66e2a5b8bbc9
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2020-10-10 16:12:42 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":751920,"cast":[{"cast_id":1,"character":"Self","credit_id":"5f81bf2141465c0038117918","gender":0,"id":2630322,"name":"Andrea
        Dworkin","order":1,"profile_path":null}],"crew":[{"credit_id":"5f81bfa3075288003938ffed","department":"Crew","gender":0,"id":1319633,"job":"Cinematography","name":"Nesya
        Blue","profile_path":null},{"credit_id":"5f81bf72d8e15a003ae66ac0","department":"Production","gender":0,"id":2810405,"job":"Producer","name":"David
        Evans","profile_path":null},{"credit_id":"5f81bfd469eb900038b8b1a2","department":"Crew","gender":0,"id":2810410,"job":"Cinematography","name":"Loraine
        Champness","profile_path":null}]}'
  recorded_at: Sat, 10 Oct 2020 17:50:57 GMT
recorded_with: VCR 6.0.0
