---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/724089?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8064efce63b52d0889d69a823f040eb4
      X-Memc-Age:
      - '3019'
      X-Memc-Expires:
      - '18581'
      Etag:
      - W/"641d1181ec9a53261b6b50091c7958c6"
      Last-Modified:
      - Wed, 14 Oct 2020 15:47:44 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg","belongs_to_collection":{"id":729322,"name":"Gabriel''s
        Inferno Collection","poster_path":null,"backdrop_path":null},"budget":0,"genres":[{"id":10749,"name":"Romance"}],"homepage":"https://watch.passionflix.com/watch/f299fa17-5a2b-4fee-b53a-a4651747431b","id":724089,"imdb_id":"tt11641654","original_language":"en","original_title":"Gabriel''s
        Inferno Part II","overview":"Professor Gabriel Emerson finally learns the
        truth about Julia Mitchell''s identity, but his realization comes a moment
        too late. Julia is done waiting for the well-respected Dante specialist to
        remember her and wants nothing more to do with him. Can Gabriel win back her
        heart before she finds love in another''s arms?","popularity":12.087,"poster_path":"/pci1ArYW7oJ2eyTo2NMYEKHHiCP.jpg","production_companies":[{"id":92153,"logo_path":"/psjvYkjjgAPtS8utnFYDM8t8yi7.png","name":"PassionFlix","origin_country":"US"}],"production_countries":[],"release_date":"2020-07-31","revenue":0,"runtime":105,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Gabriel''s
        Inferno Part II","video":false,"vote_average":8.9,"vote_count":884}'
  recorded_at: Wed, 14 Oct 2020 19:20:31 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/724089/credits?api_key=MOVIES_SECRET_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ce0a2a50ec2f08730264b4164ae0dc5d
      X-Memc-Age:
      - '12185'
      X-Memc-Expires:
      - '9415'
      Etag:
      - W/"7dc5114a3d99860abe3acdfee47b2d56"
      Last-Modified:
      - Wed, 14 Oct 2020 15:47:45 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":724089,"cast":[{"cast_id":1,"character":"Julia Mitchell","credit_id":"5f25dbe72d8ef30035d4c8d8","gender":1,"id":1312450,"name":"Melanie
        Zanetti","order":1,"profile_path":"/lbUQ7ilvBtWMU23reKsHg3jRmsf.jpg"},{"cast_id":2,"character":"Gabriel
        Emerson","credit_id":"5f25dbff0231f200381c6aca","gender":2,"id":544002,"name":"Giulio
        Berruti","order":2,"profile_path":"/ktPKniWGVkm6eBG7a2R7WGd96kZ.jpg"},{"cast_id":3,"character":"Paul
        Norris","credit_id":"5f25dec27d41aa0035679e49","gender":0,"id":2345991,"name":"James
        Andrew Fraser","order":3,"profile_path":null},{"cast_id":4,"character":"Christa
        Peterson","credit_id":"5f25dedf8d1b8e0[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/724089/reviews?api_key=MOVIES_SECRET_KEY&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - bf1cc79b7d1dffdf642f30174a05dbbd
      X-Memc-Age:
      - '1849'
      X-Memc-Expires:
      - '19751'
      Etag:
      - W/"37200b87f61430f107cfb20c963bb0c3"
      Last-Modified:
      - Wed, 14 Oct 2020 15:47:45 GMT
    body:
      encoding: UTF-8
      string: '{"id":724089,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 14 Oct 2020 19:20:31 GMT
recorded_with: VCR 6.0.0
