<h1>Welcome to Viewing Party!</h1>
<h3>This app is an app that does appy stuff. We will fill in a mo betta description about what it does.</h3>

<%= link_to 'New to Viewing Party? Register Here', registration_path %>